<p-toast
  position="top-center"
  severity="success"
  summary="Summary Text"
  [baseZIndex]="4000"
  key="toastError"
  (onClose)="goToList()"
></p-toast>

<section class="edit">
  <h1 class="edit__title">{{ "Editar producto" | titlecase }}</h1>

  <section class="back" (click)="goToList()">
    <i class="pi pi-angle-left"></i> Volver
  </section>

  <form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
    <span class="p-float-label form__row">
      <input
        id="NombreProducto"
        type="text"
        formControlName="Nombre_Producto"
        pInputText
        autocomplete="off"
      />
      <label for="NombreProducto">Nombre del producto</label>
    </span>

    <span class="p-float-label form__row">
      <input
        id="PesoProducto"
        type="number"
        formControlName="Peso_Producto"
        pInputText
        autocomplete="off"
      />
      <label for="PesoProducto">Peso del producto</label>
    </span>

    <span class="p-float-label form__row">
      <input
        id="DimensionesProducto"
        type="text"
        formControlName="Dimensiones_Producto"
        pInputText
        autocomplete="off"
      />
      <label for="DimensionesProducto">Dimensiones del producto</label>
    </span>

    <span class="p-float-label form__row">
      <label for="TipoProducto" class="label-select">Tipo del producto</label>

      <p-dropdown
        id="TipoProducto"
        formControlName="Tipo_producto"
        [options]="typeProducts"
        optionLabel="name"
        [style]="{ minWidth: '14rem', width: '100%' }"
        placeholder="Tipo de producto"
      ></p-dropdown>
    </span>

    <span class="p-float-label form__row">
      <label for="EstiloProducto" class="label-select"
        >Estilo del producto</label
      >

      <p-dropdown
        id="EstiloProducto"
        formControlName="Estilo_Producto"
        [options]="styleProducts"
        optionLabel="name"
        [style]="{ minWidth: '14rem', width: '100%' }"
        placeholder="Estilo del producto"
      ></p-dropdown>
    </span>

    <button
      pButton
      type="submit"
      label="Guardar"
      [style.width]="'100%'"
    ></button>
  </form>
</section>
