<section class="contact">
  <h1 class="contact__title">Lista de los contactos</h1>

  <div class="contact__nav-search">
    <app-text-input
      label="Id del catalogo"
      type="text"
      width="400px"
      (onBlurInput)="onChangeInput($event)"
    ></app-text-input>

    <div>
      <button
        pButton
        type="button"
        label="Buscar"
        [style.width]="'200px'"
        class="button"
        (click)="searchContact()"
      ></button>
    </div>
  </div>

  <div class="contact__add">
    <button
      pButton
      type="button"
      label="Agregar"
      [style.width]="'150px'"
      class="p-button-outlined button"
      icon="pi pi-plus"
      iconPos="left"
      (click)="goToAdd()"
    ></button>
  </div>

  <section class="contact__container-table">
    <p-table
      [value]="contacts"
      [scrollable]="true"
      responsiveLayout="scroll"
      scrollHeight="400px"
      class="p-datatable-lg p-datatable-gridlines"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Id Contactos</th>
          <th>Dato Contacto</th>
          <th>Tipo Contacto</th>
          <th>Nombre contacto</th>
          <th>Apellido Contacto</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-contact>
        <tr>
          <td>{{ contact.Id_Contactos }}</td>
          <td>{{ contact.Dato_Contacto }}</td>
          <td>{{ contact.Tipo_Contacto }}</td>
          <td>{{ contact.Nombre_contacto }}</td>
          <td>{{ contact.Apellido_Contacto }}</td>
          <td>
            <button
              pButton
              type="button"
              label="Editar"
              [style.width]="'150px'"
              class="button"
              (click)="goToEdit(contact.Id_Catalogo)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </section>
</section>
