<p-toast
  position="top-center"
  severity="success"
  summary="Summary Text"
  [baseZIndex]="5000"
  key="toastError"
></p-toast>

<section class="list">
  <h1 class="list__title">Lista de los ingredientes por productos</h1>

  <div class="list__nav-search">
    <app-text-input
      label="Id del elemento"
      type="text"
      width="400px"
      (onBlurInput)="onChangeInput($event)"
    ></app-text-input>

    <div>
      <button
        pButton
        type="button"
        label="Buscar"
        [style.width]="'200px'"
        class="button"
        (click)="searchElement()"
      ></button>
    </div>
  </div>

  <div class="list__add">
    <button
      pButton
      type="button"
      label="Agregar"
      [style.width]="'150px'"
      class="p-button-outlined button"
      icon="pi pi-plus"
      iconPos="left"
      (click)="goToAdd()"
    ></button>
  </div>

  <section class="list__container-table">
    <p-table
      [value]="elements"
      [scrollable]="true"
      responsiveLayout="scroll"
      scrollHeight="400px"
      class="p-datatable-lg p-datatable-gridlines"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Producto</th>
          <th>Ingrediente</th>
          <th>Cantidad</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-element>
        <tr>
          <td>{{ element.Id_ingredientes_productos }}</td>
          <td>{{ element.IProducto_ingredientes_productos }}</td>
          <td>{{ element.ingrediente_ingredientes_productos }}</td>
          <td>{{ element.cantidad_ingredientes_productos }}</td>
          <td>
            <button
              pButton
              type="button"
              label="Editar"
              [style.width]="'150px'"
              class="button"
              (click)="goToEdit(element.Id_ingredientes_productos)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </section>
</section>
