<p-toast
  position="top-center"
  severity="success"
  summary="Summary Text"
  [baseZIndex]="5000"
  key="toastError"
></p-toast>

<section class="list">
  <h1 class="list__title">Lista de los catalogos</h1>

  <div class="list__nav-search">
    <app-text-input
      label="Id del catalogo"
      type="text"
      width="400px"
      (onBlurInput)="onChangeInput($event)"
    ></app-text-input>

    <div class="">
      <button
        pButton
        type="button"
        label="Buscar"
        [style.width]="'200px'"
        class="button"
        (click)="searchCatalog()"
      ></button>
    </div>
  </div>

  <section class="list__container-table">
    <p-table [value]="catalogs" [scrollable]="true" scrollHeight="400px">
      <ng-template pTemplate="header">
        <tr>
          <th>Id Catalogo</th>
          <th>Tipo Catalogo</th>
          <th>Nombre Catalogo</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-catalog>
        <tr>
          <td>{{ catalog.Id_Catalogo }}</td>
          <td>{{ catalog.Tipo_Catalogo }}</td>
          <td>{{ catalog.Nombre_Catalogo }}</td>
        </tr>
      </ng-template>
    </p-table>
  </section>
</section>
