.list {
  width: 100%;
  margin-top: 35px;
  box-sizing: border-box;

  &__title {
    font-size: 36px;
    margin: 0;
  }

  &__nav-search {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
  }

  &__container-table {
    width: 60%;
    margin-top: 50px;

    // &::-webkit-scrollbar {
    //   width: 10px;
    //   background-color: black;
    // }

    // &::-webkit-scrollbar-thumb {
    //   background: linear-gradient(to top, #008aff, #00ffe7);
    //   animation: animate 5s linear infinite;
    //   border-radius: 25px;
    // }
  }
}
