.body {
  box-sizing: border-box;
  padding: 20px;
}

.header {
  width: 100%;
  margin-top: 30px;

  &__nav {
    width: 100%;
    font-size: 18px;
  }

  &__filters {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;

    .dates {
      width: max-content;
      display: flex;
      align-items: center;
    }

    .input {
      width: max-content;
      display: flex;
      align-items: center;
    }

    .row {
      display: flex;
      flex-direction: column;
      margin-right: 25px;

      &--flex {
        display: flex;
        align-items: center;
        margin-right: 25px;

        label {
          margin-right: 12px;
        }
      }

      label {
        margin-bottom: 12px;
      }
    }
  }
}

.table {
  width: 100%;
  margin-top: 45px;
  min-height: 60vh;
}
