<h2>Catalogos</h2>
<a routerLink="/catalogos/agregar">Catalogos agregar</a>
<hr />
<a routerLink="/catalogos/editar">Catalogos editar</a>
<hr />
<a routerLink="/catalogos/listar">Catalogos listar</a>
<hr />
<a routerLink="/catalogos/buscar/1">Catalogos buscar id</a>
<hr />

<h2>Contactos</h2>
<a routerLink="/contactos/agregar">Contactos agregar</a>
<hr />
<a routerLink="/contactos/editar">Contactos listar</a>
<hr />
<a routerLink="/contactos/listar">Contactos listar</a>
<hr />
<a routerLink="/contactos/buscar/1">Contactos buscar id</a>
<hr />

<h2>Personas</h2>
<a routerLink="/personas/agregar">Personas agregar</a>
<hr />
<a routerLink="/personas/editar">Personas editar</a>
<hr />
<a routerLink="/personas/listar">Personas listar</a>
<hr />
<a routerLink="/personas/buscar/1">Personas buscar id</a>
<hr />
